<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <url>http://inflectrasvr01/SpiraTest</url>
  <username>fredbloggs</username>
  <password>fredbloggs</password>
  <projects>
    <project id="1" releaseId="2">
      <tests>
        <test name="Orders_C#_VBScript">
          <item name="ProjectTestOne">2</item>
          <item name="ProjectTestTwo">6</item>
        </test>
        <test name="Orders_C#_JScript">
          <item name="ProjectTestItem1">3</item>
        </test>
        <test name="Orders_C#_C#Script">
          <item name="ProjectTestItem1">4</item>
        </test>
        <test name="Orders_C#_C++Script">
          <item name="ProjectTestItem1">5</item>
        </test>
      </tests>      
    </project>
  </projects>
</configuration>